<div class="home-image" >
  <div class="signup-main">
    <div class="signup-form">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <p class="login-text">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </p>
        <p class="alert"><%= alert %></p>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", placeholder: 'UserName', class: 'signup-name' %>
        </div>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'signup-email' %>
        </div>
        <div class="field">
          <% if @minimum_password_length %>
            <% passlength = @minimum_password_length %>
            <% passlength = "Password ( #{passlength} characters minimum)" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: passlength, class: 'signup-password' %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "current-password", placeholder: 'Password confirmation', class: 'signup-password' %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: 'signup-submit' %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>