<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <!--タブ部分-->
      <ul class="tab-list list-unstyled">
        <div class="row">
          <li class="tab col-md-6">
            フォロー
          </li>
          <li class="tab tab-active col-md-6">
            フォロワー
          </li>
        </div>
      </ul>
      <div class="tabbox-contents">
        <div class="tabbox">
          <% @users_follow.each do |user| %>
            <%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback:'no-image.jpg', size: '30x30') %>
            <%= link_to user.user_name, users_path(user_id: user.id) %>
            <div id="follow_form_following">
              <%= render 'relationships/follow_button', user: user %>
            </div>
          <% end %>
        </div>
        <div class="tabbox box-show">
          <% @users_follower.each do |user| %>
            <%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback:'no-image.jpg', size: '30x30') %>
            <div id="follow_form_follower">
              <%= render 'relationships/follow_button', user: user %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>