<div class="user-detail">
  <table class="table table-inverse">
    <tr>
      <th>ユーザーネーム</th>
      <td><%= user.user_name %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>参加予定イベント</th>
      <td><%= user.join_event %></td>
    </tr>
  </table>
  <% if current_user == user %>
    <%= link_to 'プロフィールを編集', edit_users_path, class:'btn btn-lg btn-block bg-white' %>
  <% else %>
    <div id="follow_form">
      <%= render 'relationships/follow_button', user: user %>
    </div>
  <% end %>
</div>