<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <h5 class="card-header">ユーザー編集</h5>
        <%= form_with model: @user, url: user_path(@user), local:true do |f| %>
          <%= render 'layouts/error', obj: @user %>
          <div class="card-body">
            <div class="col-md-6 mx-auto">
              <%= attachment_image_tag(@user, :profile_image, class: 'card img-square', fallback: 'no-image.jpg', size: '200x200') %>
            </div>
            <div class="col-md-9 mx-auto mt-2">
              <label class="form-image-button">
                <%= f.attachment_field :profile_image, id:'image' %>
              </label>
            </div>
              <!--<div class="form-row col-md-12">-->
              <div class="form-group row col-md-12 mt-4">
                <%= f.label :ユーザーネーム, class:'col-md-4 control-label' %>
                <%= f.text_field :user_name, class:'col-md-8 form-control' %>
              </div>
              <div class="form-group row col-md-12">
                <%= f.label :メールアドレス, class:'col-md-4 control-label' %>
                <%= f.email_field :email, class:'col-md-8 form-control' %>
              </div>
              <div class="form-group row col-md-12">
                <%= f.label :自己紹介, class:'col-md-4 control-label' %>
                <%= f.text_area :introduction, class:'col-md-8 form-control' %>
              </div>
              <div class="form-group row col-md-12">
                <%= f.label :参加予定のイベント, class:'col-md-4 control-label' %>
                <%= f.text_area :join_event, class:'col-md-8 form-control' %>
              </div>
              <!--</div>-->
              <div class="form-group col-md-3 ml-auto">
                <%= f.submit class:'submit-btn' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>