<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <p id="notice"><%= notice %></p>
      <div class="card card-main mt-3">
        <div class="card-header main-header">
          <div class="row">
            <h5 class="mt-2">プロフィール</h5>
            <% if current_user == @user %>
              <div class="ml-auto">
                <%= link_to edit_user_path(current_user), class:'btn btn-sm' do %>
                  <span class="mgl-30"><i class="far fa-edit"></i> プロフィールを編集</span>
              </div>
              <% end %>
            <% else %>
              <div class="ml-auto">
                <div id="follow_form">
                  <%= render 'relationships/follow_button', user: @user %>
                </div>
              </div>
              <div class="mgl-10">
                <%= link_to 'メッセージを送る', rooms_path(user_id: @user.id), method: :post, class: 'btn message_btn' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <div id="follower_count">
            <%= render 'users/follower_count', user: @user %>
          </div>
        </div>
        <%= render 'users/detail', user: @user %>
      </div>
    </div>
  </div>
</div>
