<table class="table">
  <% events.each do |event| %>
    <tr>
      <td>
        <div class="col-md-12">
          <h5><%= link_to event.name, event_path(event) %></h5>
        </div>
        <div class="row col-md-12">
          <div class="col-md-1">
            <i class="far fa-clock"></i>
          </div>
          <div class="col-md-10">
            <%= event.date %>
            <span class="mgl-10"></span>
            OPEN：
            <% unless event.open_time.nil? %>
              <%= event.open_time.strftime("%H:%M") %>
            <% end %>
            / START：
            <% unless event.open_time.nil? %>
              <%= event.start_time.strftime("%H:%M") %> 〜
            <% end %>
            <% unless event.open_time.nil? %>
              <%= event.end_time.strftime("%H:%M") %>
            <% end %>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-1">
            <i class="far fa-user-circle"></i>
          </div>
          <div class="col-md-10">
            <%= event.artist %>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-1">
            <i class="fas fa-map-marked-alt"></i>
          </div>
          <div class="col-md-10">
            <%= event.place %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate events %>