<div class="container">
  <div class="row">
    <div class="mt-2 ml-auto">
      <%= form_with url: search_events_path, method: :get, local:true do |f| %>
        <%= f.label :イベント日付 %>
        <%= f.date_field :date %>
        <%= f.label :イベント名 %>
        <%= f.text_field :keyword %>
        <%= f.submit '検索' %>
      <% end %>
    </div>
    <div class="col-md-8 mx-auto">
      <table class="table">
        <tr>
          <th>日付</th>
          <th>イベント名</th>
          <th>場所</th>
          <th>登録アルバム</th>
        </tr>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.date %></td>
            <td><%= link_to event.name, event_path(event) %></td>
            <td><%= event.place %></td>
            <td><%= link_to 'アルバム一覧へ', event_albums_path(event) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>