<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= link_to edit_event_path do %>
        <i class="fas fa-pen size"></i>
      <% end %>
      <p><%= @event.name %></p>
      <p>日時<%= @event.date %> OPEN <%= @event.open_time.strftime("%H:%M") %> / START <%= @event.start_time.strftime("%H:%M") %> END <%= @event.end_time.strftime("%H:%M") %></p>
      <p>場所<%= @event.place %></p>
      <p>座席<%= @event.seat %></p>
      <p>同行者<%= @event.seat %></p>
      <p>メモ<%= @event.memo %></p>
      <%= link_to 'グッズ登録はこちらから', events_path, class:'fas fa-arrow-circle-right' %>
    </div>
  </div>
</div>