<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= link_to edit_event_path do %>
        <i class="fas fa-pen size"></i>
      <% end %>
      <p><%= @event.name %></p>
      <p>日時<%= @event.date %> OPEN <%#= @event.open_time.strftime("%H:%M") %> / START <%#= @event.start_time.strftime("%H:%M") %> END <%#= @event.end_time.strftime("%H:%M") %></p>
      <p>場所<%= @event.place %></p>
      <p>座席<%= @event.seat %></p>
      <p>同行者<%= @event.seat %></p>
      <p>メモ<%= @event.memo %></p>
      <%= link_to 'グッズ登録はこちらから', event_items_path(@event), class:'fas fa-arrow-circle-right' %>
      <%= link_to 'アルバム作成はこちらから', event_albums_path(@event), class:'fas fa-arrow-circle-right' %>

<%
=begin %>
      <%= form_with model:@album, url:albums_path, local:true do |f| %>
        <div class="form-group">
          <%= f.hidden_field :event_id, value: @event.id %>
          <%= f.label :アルバム名 %>
          <%= f.text_field :album_name %>
        </div>
        <div class="form-action">
          <%= f.submit '登録する' %>
        </div>
      <% end %>
<%
=end %>
    </div>
  </div>
</div>