<%= form_with model:ticket, local:true, html: { class: "contact-form" } do |f| %>
  <%= render 'layouts/error', obj: ticket %>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-xl-8">
        <%= f.label :イベント名, class:'control-label' %>
        <%= f.text_field :event_name, class:'form-control input-text ' %>
      </div>
      <div class="form-group col-xl-3">
        <%= f.label :イベント日時, class:'control-label' %>
        <%= f.date_field :event_date, class:'form-control input-text ' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :チケット：, class:'control-label' %>
    </div>
    <div class="form-row col-xl-12">
      <div class="form-group row col-xl-4">
        <%= f.label :枚数, class:'col-xl-3 control-label' %>
        <%= f.select :number, *[1..100], { include_blank: '枚数選択'}, class:'number col-xl-7 form-control input-text ' %>
      </div>
      <div class="form-group row col-xl-4">
        <%= f.label :金額, class:'col-xl-3 control-label' %>
        <%= f.text_field :money, class:'money col-xl-7 form-control input-text ' %>
      </div>
    </div>
    <h6 class="card-header sub-header">申込状況</h6>
    <div class="card-body">
      <!--</div>-->
      <div class="form-row col-xl-12">
        <div class="form-group row col-xl-5">
          <%= f.label :開始日, class:'col-xl-4 control-label' %>
          <%= f.date_field :entry_start_date, class:'entry_start_date col-xl-6 form-control input-text ' %>
        </div>
        <div class="form-group row col-xl-5">
          <%= f.label :申込状況, class:'col-xl-4 control-label' %>
          <%= f.radio_button :entry_flg, 0, checked: true, class: 'radio-form-label' %>
          <%= f.label :entry_flg, "未申込", {value: :false, class: 'mr-5 ml-2'} %>
          <%= f.radio_button :entry_flg, :true, class: 'radio-form-label' %>
          <%= f.label :entry_flg, "申込済", {value: :true, class: 'ml-2'} %>
        </div>
      </div>
      <div class="form-row col-xl-12">
        <div class="form-group row col-xl-5">
          <%= f.label :終了日, class:'col-xl-4 control-label' %>
          <%= f.date_field :entry_end_date, class:'entry_end_date col-xl-6 form-control input-text ' %>
        </div>
      </div>
    </div>
    <h6 class="card-header sub-header">当選状況</h6>
    <div class="card-body">
      <div class="form-row col-xl-12">
        <div class="form-group row col-xl-5">
          <%= f.label :当落発表日, class:'col-xl-4 control-label' %>
          <%= f.date_field :win_date, class:'win_date col-xl-6 form-control input-text ' %>
        </div>
        <div class="form-group row col-xl-5">
          <%= f.label :当落状況, class:'col-xl-4' %>
          <%= f.radio_button :win_flg, :true, class: 'radio-form-label' %>
          <%= f.label :win_flg, "当選", {value: :true, class: 'mr-5 ml-2'} %>
          <%= f.radio_button :win_flg, :false, class: 'radio-form-label' %>
          <%= f.label :win_flg, "落選", {value: :false, class: 'ml-2'} %>
        </div>
      </div>
    </div>
    <h6 class="card-header sub-header">支払状況</h6>
    <div class="card-body">
      <div class="form-row col-xl-12">
        <div class="form-group row col-xl-5">
          <%= f.label :支払期限日, class:'col-xl-4 control-label' %>
          <%= f.date_field :payment_date, class:'payment_date col-xl-6 form-control input-text ' %>
        </div>
        <div class="form-group row col-xl-5">
          <%= f.label :支払状況, class:'col-xl-4 control-label' %>
          <%= f.radio_button :payment_flg, 0, checked: true, class: 'radio-form-label' %>
          <%= f.label :payment_flg, "未支払", {value: :false, class: 'mr-5 ml-2'} %>
          <%= f.radio_button :payment_flg, :true, class: 'radio-form-label' %>
          <%= f.label :payment_flg, "支払済", {value: :true, class: 'ml-2'} %>
        </div>
      </div>
    </div>
    <div class="form-group col-md-2 ml-auto">
      <%= f.submit class:'submit-btn' %>
    </div>
  </div>
<% end %>