<table class="table table-color">
  <% tickets.each do |ticket| %>
    <tr>
      <td>
        <div class="col-md-12">
          <h5><%= link_to ticket.event_name, ticket_path(ticket) %></h5>
        </div>
        <div class="row col-md-12">
          <div class="col-md-1">
            <i class="far fa-clock"></i>
          </div>
          <div class="col-md-10">
            <%= ticket.event_date %>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-1">
            <i class="fas fa-ticket-alt"></i>
          </div>
          <div class="col-md-10">
            <p>
              申込：
                <% if ticket.entry_start_date.nil? and ticket.entry_end_date.nil? %>
                  −
                <% elsif ticket.entry_start_date.nil? %>
                  〜 <%= ticket.entry_end_date %>
                <% elsif ticket.entry_end_date.nil? %>
                  <%= ticket.entry_start_date %> 〜
                <% else %>
                  <%= ticket.entry_start_date %> 〜 <%= ticket.entry_end_date %>
                <% end %>
                <span class="mgl-10"></span>
                <% if ticket.entry_flg %>
                  申込済
                <% else %>
                  未申込
                <% end %>
            </p>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-1">
          </div>
          <div class="col-md-8">
            <p>
              当落：
                <% if ticket.win_date.nil? %>
                  −
                <% else %>
                  <%= ticket.win_date %>
                <% end %>
                <span class="mgl-10"></span>
                <% if ticket.win_flg.nil? %>
                  −
                <% elsif ticket.win_flg %>
                  当選
                <% else %>
                  落選
                <% end %>
            </p>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <p>
              支払：
                <% if ticket.payment_date.nil? %>
                  −
                <% else %>
                  <%= ticket.payment_date %>
                <% end %>
                <span class="mgl-10"></span>
                <% if ticket.payment_flg %>
                  支払済
                <% else %>
                  未支払
                <% end %>
            </p>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<% if mode_id == "1" %>
  <div class="row">
    <div class="mx-auto mt-2">
      <%= paginate tickets %>
    </div>
  </div>
<% end %>