<div class="container">
  <div class="row">
    <div class="col-xl-8 mx-auto">
      <p id="notice"><%= notice %></p>
      <%= link_to tickets_path do %>
        <i class="fas fa-angle-double-left"></i> 一覧へ
      <% end %>
      <div class="card col-md-12 mt-3 mb-3">
        <div class="row">
          <div class="card-header header-color col-md-12">
            <div class="row">
              <%= link_to edit_ticket_path(@ticket) do %>
                <span class="mgl-30"><i class="far fa-edit"></i> 編集</span>
              <% end %>
              <div class="ml-auto">
                <%= link_to ticket_path(@ticket), method: :delete, data: { confirm: "本当に消しますか？" } do %>
                  <span class="mgr-30"><i class="far fa-trash-alt"></i> 削除</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 card-header l-app_ticket_title">
            イベント情報
          </div>
          <div class="col-md-9 l-app_ticket_detail">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <p><span class="mgl-10">イベント名：</span></p>
                </div>
                <div class="col-md-8">
                  <%= @ticket.event_name %>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <p><span class="mgl-10">日時：</span></p>
                </div>
                <div class="col-md-8">
                  <%= @ticket.event_date %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p><span class="mgl-10">枚数：</span></p>
                </div>
                <div class="col-md-8">
                  <%= @ticket.number %>枚
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p><span class="mgl-10">金額：</span></p>
                </div>
                <div class="col-md-8">
                  <%= @ticket.money %>円
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-3 card-header l-app_ticket_title">
            申込状況
          </div>
          <div class="col-md-9 l-app_ticket_detail">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <p><span class="mgl-10">申込日：</span></p>
                </div>
                <div class="col-md-8">
                  <% if @ticket.entry_start_date.nil? and @ticket.entry_end_date.nil? %>
                    <p>−</p>
                  <% elsif @ticket.entry_start_date.nil? %>
                    <p>〜 <%= @ticket.entry_end_date %></p>
                  <% elsif @ticket.entry_end_date.nil? %>
                    <p><%= @ticket.entry_start_date %> 〜</p>
                  <% else %>
                    <%= @ticket.entry_start_date %> 〜 <%= @ticket.entry_end_date %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                  <% if @ticket.entry_flg %>
                    <p>申込済</p>
                  <% else %>
                    <p>未申込</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-3 card-header l-app_ticket_title">
            当落状況
          </div>
          <div class="col-md-9 l-app_ticket_detail">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <p><span class="mgl-10">当落発表日：</span></p>
                </div>
                <div class="col-md-8">
                  <% if @ticket.win_date.nil? %>
                    <p>−</p>
                  <% else %>
                    <%= @ticket.win_date %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                  <% if @ticket.win_flg.nil? %>
                    <p>−</p>
                  <% elsif @ticket.win_flg %>
                    <p>落選</p>
                  <% else %>
                    <p>当選</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md-3 card-header l-app_ticket_title">
            支払状況
          </div>
          <div class="col-md-9 l-app_ticket_detail">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <p><span class="mgl-10">支払期限日：</span></p>
                </div>
                <div class="col-md-8">
                  <% if @ticket.payment_date.nil? %>
                    <p>−</p>
                  <% else %>
                    <%= @ticket.payment_date %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                  <% if @ticket.payment_flg %>
                    <p>支払済</p>
                  <% else %>
                    <p>未支払</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>