<%#= link_to 'アルバム登録', new_event_album_path %><br>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= form_with model:[@event, @album], local: true do |f| %>
        <%= f.text_field :album_name, id: 'textarea', class: 'input-box__content' %>
        <%= f.submit '登録する' %>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
      <% @albums.each do |album| %>
        <!--<p>-->
        <div class="col-md-2 sample_box12">
          <div class="sample_box12_tape"></div>
          <p class="sample_box12_title">
            <%= link_to event_album_photos_path(album_id: album.id) do %>
              <%= album.album_name %>
            <% end %>
          </p>
          <p class="sample_box12_subtitle"><i class="far fa-image albumsize"></i></p>
        </div>
        <!--</p>-->
      <% end %>
  </div>
  <!--</div>-->
</div>