<div class="home-image" >
  <div class="login-main">
    <div class="login-form">
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <p class="login-text">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </p>
        <p class="alert"><%= alert %></p>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'login-email' %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'login-password' %>
        </div>
        <div class="actions">
          <%= f.submit "Log in", class: 'login-submit' %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>