<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <%= link_to event_albums_path(event_id: @album.event_id, album_id: @album.id) do %>
        <i class="fas fa-angle-double-left"></i> アルバム一覧へ
      <% end %>
      <div class="mt-5">
        <%= form_with model: @album, url: event_album_path(id: @album.id, event_id: @album.event_id), local: true do |f| %>
          <p id="notice"><%= notice %></p>
          <div class="form-group row col-md-12">
            <%= f.hidden_field :album_name, value: @album.album_name %>
            <%= f.attachment_field :photos_memory_images, multiple: true %>
            <%= f.hidden_field :mode, value: "2" %>
            <%= f.submit class:'submit-btn' %>
          </div>
        <% end %>
      </div>
      <!--アルバム一覧-->
      <div class="mt-5">
        <div class="row">
          <% if @photos.present? %>
            <!--<div class="post_files">-->
              <% @photos.each do |photo| %>
                <div class="col-md-3 mt-3">
                  <div class="card h-100">
                    <!--<div class="card-img-top">-->
                    <%= attachment_image_tag(photo, :memory_image, :fill, 200, 200) %>
                    <!--</div>-->
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <div class="row">
                          <div class="ml-auto">
                            <%= link_to "/events/#{photo.album.event_id}/albums/#{photo.album_id}/photos/#{photo.id}", method: :delete, data: { confirm: "本当に消しますか？" } do %>
                              <span class="mgr-10"><i class="far fa-trash-alt"></i> 削除</span>
                            <% end %>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              <% end %>
            <!--</div>-->
          <% end %>
        </div>
        <div class="row">
          <div class="mx-auto mt-2">
            <%= paginate @photos %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>