<table class="table table-color">
  <% events.each do |event| %>
    <tr>
        <td>
          <div class="row col-md-12">
            <div class="col-1">
              <%= attachment_image_tag(event.user, :profile_image, :fill, 50, 50, fallback:'no-image.jpg', size: '30x30') %>
            </div>
            <div class="col-3">
              <%= link_to event.user.user_name, user_path(id: event.user.id) %>
            </div>
            <div class="col-md-2">
              <%= event.date %>
            </div>
            <div class="col-md-4">
              <%= event.name %>
            </div>
            <div class="col-md-2">
              <%= link_to '投稿を見る', post_user_search_path(user_id: event.user.id) %>
            </div>
          </div>
        </td>
    </tr>
  <% end %>
</table>
<div class="row">
  <div class="mx-auto mt-2">
    <%= paginate events, :param_name => 'page_3', remote: true %>
  </div>
</div>