<h1>Hello</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag post.post_image_id.to_s, size: '250x250', class: 'photo-img', id: 'photo-img' %>
    </div>
    <div class="col-md-8">
      <div id="follow_form">
        <%= render 'relationships/follow_button', user: user %>
      </div>
      <div class="favorite_btn_<%= post.id %>">
        <%= render 'favorites/favorite_btn', post: post %>
      </div>
      <td id="post_comment_<%= @post.id %>">コメント数: <%= @post.post_comments.count  %></td>
      <div id="comments_area">
        <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
        <%= render partial: 'post_comments/index', locals: {post_comments: @post_comments } %>
      </div>
      <%= render partial: 'post_comments/form', locals: { post: @post, post_comment: post.post_comments } %>
    </div>
  </div>
</div>