<div class="model-inner">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 main-post-image_area">
        <div class="main-post-image">
          <%= attachment_image_tag(post, :post_image, fallback:'no-image-post.png', class: 'post-image mx-auto d-block') %>
        </div>
      </div>
      <div class="col-md-6 main-post-image_area_content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row main_follow_area">
              <span class="mgl-10"></span>
              <%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, fallback:'no-image.jpg', size: '30x30', class: 'mt-2') %>
              <span class="mgl-10"></span>
              <div class="mt-2"><%= post.user.user_name %></div>
              <span class="mgl-30"></span>
              <div id="follow_form">
                <%= render 'relationships/follow_button', user: user %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="main_post_area">
              <p class="post_maitext"><%= post.maintext %></p>
              <% post.tags.each do |tag| %>
                # <%= tag.tag_name %>
              <% end %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="main_comment_area">
              <div id="comments_area">
                <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
                <%= render partial: 'post_comments/index', locals: {post_comments: post_comments } %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="main_favorite_area">
              <div class="favorite_btn_<%= post.id %>">
                <%= render 'favorites/favorite_btn', post: post %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="main_inputcomment_area">
              <%= render partial: 'post_comments/form', locals: { post: post, post_comment: post.post_comments } %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>