<table class="table table-color">
  <% users.each do |user| %>
    <tr>
      <td>
        <div class="row col-md-12 mb-3 user-list-area">
          <div class="col-1">
            <%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback:'no-image.jpg', size: '30x30') %>
          </div>
          <div class="col-3">
            <%= link_to user.user_name, user_path(id: user.id) %>
          </div>
          <div class="col-md-8 user-introduction">
            <%= user.introduction %>
          </div>
        </div>
        <div class="row col-md-12 mt-3">
          <div class="col-4">
            <%= link_to '投稿を見る', post_user_search_path(user_id: user.id) %>
          </div>
          <div class="col-4">
            <%= link_to 'イベントを見る', event_user_search_path(user_id: user.id) %>
          </div>
          <div class="col-4">
            <div id="follow_form_following_<%= user.id %>">
              <%= render 'relationships/follow_button', user: user %>
            </div>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<div class="row">
  <div class="mx-auto mt-2">
    <%= paginate users, :param_name => 'page_2', remote: true %>
  </div>
</div>
