<%
=begin %>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <!--タブ部分-->
      <ul class="tab-list list-unstyled">
        <div class="row">
          <li class="tab tab-active col-md-4">
            ホーム
          </li>
          <li class="tab col-md-4">
            検索
          </li>
          <li class="tab col-md-4">
            投稿
          </li>
        </div>
      </ul>
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <div id ="tabbox-1" class="tabbox box-show">
          <%= render 'posts/post_list', posts: @posts_follow, tab_id: 1 %>
        </div>
        <div id ="tabbox-2" class="tabbox">
          <ul class="sub-tab-list list-unstyled">
            <div class="row">
              <li class="sub-tab sub-tab-active col-md-4">
                投稿一覧
              </li>
              <li class="sub-tab col-md-4">
                ユーザー一覧
              </li>
            </div>
          </ul>
          <div class="tabbox-contents">
            <div class="sub-tabbox sub-box-show">
              <%= render 'posts/post_list', posts: @posts_all, tab_id: 2 %>
            </div>
            <div class="sub-tabbox">
              <%= render 'posts/user_list', users: @users %>
            </div>
          </div>
        </div>
        <div id ="tabbox-3" class="tabbox">
          <%= render 'posts/post_form', post: @post %>
          <%= render 'posts/post_list', posts: @posts_my, tab_id: 3 %>
        </div>
      </div>
    </div>
  </div>
</div>

<%
=end %>


<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <!--タブ部分-->
      <div class="row">
        <div class="col-md-2">
          <ul class="tab-list list-unstyled">
            <div class="col-12">
              <%= link_to posts_path do %>
                <li class="tab tab-active">
                  ホーム
                </li>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to post_all_posts_path do %>
                <li class="tab">
                  検索
                </li>
              <% end %>
            </div>
            <div class="col-12">
              <%= link_to post_mine_posts_path do %>
                <li class="tab">
                  投稿
                </li>
              <% end %>
            </div>
          </ul>
        </div>
        <!--タブで選択された要素部分-->
        <div class="col-md-10">
          <div class="tabbox-contents">
            <div class="tabbox box-show">
              <h3>投稿一覧</h3>
              <%= render 'posts/post_list', posts: @posts_follow, tab_id: 1 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>