<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <!--タブ部分-->
      <ul class="tab-list list-unstyled">
        <div class="row">
          <div class="col-md-4">
            <%= link_to posts_path do %>
              <li class="tab">
                ホーム
              </li>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to post_all_posts_path do %>
              <li class="tab">
                検索
              </li>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= link_to post_mine_posts_path do %>
              <li class="tab tab-active">
                投稿
              </li>
            <% end %>
          </div>
        </div>
      </ul>
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render 'posts/post_form', post: @post %>
          <h3>投稿一覧</h3>
          <%= render 'posts/post_list', posts: @posts_my, tab_id: 3 %>
        </div>
      </div>
    </div>
  </div>
</div>