<nav class="navbar navbar-expand-lg navbar-light p-5">
  <a class="navbar-brand" href="/"><%= image_tag 'evenote.png', :size => '130x65' %><span></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="nav-link">
          <div class="l-menu-open"><i class="fas fa-bars"></i> メニュー</div>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to user_path(current_user) do %>
            <i class="fas fa-user"></i>プロフィール
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to notifications_path, remote:true do %>
            <% if unchecked_notifications.any? %>
              <span>
                <i class="fas fa-bell"></i>
                <i class="fas fa-circle n-circle n-circle"></i>
              </span>
            <% else %>
              <i class="fas fa-bell"></i>
            <% end %>
            通知
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to rooms_path do %>
            <% if current_user.unchecked_chats? %>
              <span>
                <i class="far fa-envelope"></i>
                <i class="fas fa-circle n-circle-mail"></i>
              </span>
            <% else %>
              <i class="far fa-envelope"></i>
            <% end %>
            DM
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>