<div class="l-app_navigation">
  <div class="l-menu">
    <div class="menu-open-overlay"></div>
    <div class="l-menu-title">
      <div class="icon"></div>
      <p class="jp"><span>目次</span></p>
      <p class="en"><span>index menu</span></p>
    </div>
    <div class="l-menu-contents">
      <button class="l-menu-close">閉</button>
      <nav class="l-menu-index">
        <ol class="l-menu-index_page-list">
          <li class="l-menu-index_page">
            <div class="l-menu-index_page-title">
              <span class="line jp">チケット管理</span>
              <span class="line en">Ticket</span>
            </div>
            <ol class="l-menu-index_section-list">
              <li class="l-menu-index_section">
                <%= link_to '新規登録', new_ticket_path , class:'l-menu-index_section-link"' %>
                <!--<a class="l-menu-index_section-link" href="#">新規登録</a>-->
              </li>
              <li class="l-menu-index_section">
                <%= link_to 'チケット一覧', tickets_path , class:'l-menu-index_section-link"' %>
              </li>
            </ol>
          </li>
          <li class="l-menu-index_page">
            <div class="l-menu-index_page-title" href="#">
              <span class="line jp">イベント追加</span>
              <span class="line en">Add Event</span>
            </div>
            <ol class="l-menu-index_section-list">
              <li class="l-menu-index_section">
                <%= link_to '新規登録', new_event_path , class:'l-menu-index_section-link"' %>
              </li>
              <li class="l-menu-index_section">
                <%= link_to 'イベント一覧', events_path , class:'l-menu-index_section-link"' %>
              </li>
            </ol>
          </li>
          <li class="l-menu-index_page">
            <%= link_to posts_path , class:'l-menu-index_section-link"' do %>
              <span class="line jp">投稿</span>
              <span class="line en">Post</span>
            <% end %>
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>