<!DOCTYPE html>
<html>
  <head>
    <title>Evenote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div class="l-app_header">
          <%= render 'layouts/header' %>
        </div>
      <% end %>
    </header>
    <main>
      <% if user_signed_in? %>
        <div id="notify-modal" class="modal notify-modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        <%= render 'layouts/menu' %>
        <div class="l-app_contents">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
    <footer>
      <% if user_signed_in? %>
        <%= render 'layouts/footer' %>
      <% end %>
    </footer>
  </body>
</html>
